<button class="btn bg-danger btn-block" id="googleLogin">
  <i class="fa fa-google text-white mr-3"></i>
  <span class="text-white">Login with Google</span>
</button>
<button class="btn bg-primary btn-block" id="facebookLogin">
  <i class="fa fa-facebook-square text-white mr-3"></i>
  <span class="text-white">Login with facebook</span>
</button>
