<%- include("./partials/header") %>
<div class="jumbotron container shadow" style="background: transparent">
  <h1 class="display-5">Hello, Folks!</h1>
  <p class="lead">This is a simple User Authentication system</p>
  <hr class="my-4" />
  <p>this user Authentication supports google, facebook and local support</p>
  <a class="btn btn-dark btn-md" href="/login">Log In</a>
  <a class="btn btn-outline-dark btn-md" href="/signup">Sign Up</a>
</div>
<%- include("./partials/footer") %>
